*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 20px;
}
.container{
    background-color: red;
    width: 50vw;
    height: 30wh;
}
.container .box{
    /* width: 50%;
    height: 300px;
    background-color: black; */ */
    /* font-size: 10px;
}
p{
    font-size: 2em;
}
